body {
  margin: 0;
}

header {
  width: 100%;
  height: 150px;
  background-color: red;
}

#logo {
  width: 20%;
  background-color: aqua;
  height: 100px;
  float: left;
  text-align: center;
  margin: 25px 0;
}

#menu {
  width: 80%;
  background-color: rgb(10, 160, 160);
  height: 100px;
  float: left;
  margin: 25px 0;
}

#logo img {
  height: 100px;
  width: 100px;
}

#menu ul {
  padding-left: 40%;
  margin-top: 0;
  width: 60%;
}

#menu ul li {
  list-style: none;
  width: 25%;
  margin: 35px 0;
  height: 30px;
  float: left;
  text-align: center;
  text-transform: uppercase;
  background-color: blue;
  font-size: 20px;
}

#menu ul li a {
  color: white;
  text-decoration: none;
}

#home {
  width: 100%;
  height: 500px;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#content_home1 {
  width: 50%;
  color: white;
  margin: 0 25%;
  padding-top: 200px;
}

.cont1_a h1 {
  margin-top: 0px;
}

.cont1_a {
  height: 150px;
  background-color: black;
  color: white;
  padding: 2%;
  border-radius: 10px;
}
#product {
  width: 100%;
  height: 400px;
  background-color: rgb(90, 6, 6);
  padding-top: 50px;
  text-align: center;
  color: antiquewhite;
}
.prod_cont {
  width: 25%;
  height: 250px;
  background-color: rgb(237, 79, 148);
  float: left;
  text-align: justify;
}
#team {
  width: 100%;
  height: 350px;
}
.team_cont {
  width: 20%;
  height: 350px;
  background-color: darkturquoise;
  float: left;
  text-align: center;
}
.prod_cont img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
.team_cont img {
  width: 100%;
  height: 262px;
  display: block;
  margin: 0 auto;
}
.name,
.designation {
  margin: 5px 0;
  padding: 0 2%;
  border: 1px solid black;
}
.m4 {
  margin: 0 4%;
}
.m4_right {
  margin-right: 4%;
}
.m6_25 {
  margin: 0 6.25%;
}
